<div class="location-time">
	<div class="current-time">
		{{ current_time }}
	</div>
	<div class="current-date">
		{{ current_date }}
	</div>
	<div class="location">
		{{ 'Time in '|t ~ city ~ ', ' ~ country }}
	</div>
</div>
